---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import PersonasGroup from "../components/PersonasGroup.astro";
import { Content as Intro } from "../content/home/intro.md";
import { Content as JoinUs } from "../content/home/joinus.md";
import { Content as WeHope } from "../content/home/wehope.md";
import { Image } from "astro:assets";
import formPreview from "../images/form-preview.png";
import canvasPreview from "../images/canvas-preview.png";
interface Persona {
    name: string;
    from: string;
    img?: string;
}
const organisers: Persona[] = [
    {
        name: "Dr. Yipeng Qin",
        from: "Cardiff",
        img: "https://yipengqin.github.io/assets/img/profile.jpg",
    },
];
const demonstrators: Persona[] = [
    {
        name: "Zhuoling Jiang",
        from: "Cardiff",
        img: "https://zhuoling.space/_astro/profile_Z12ICe4.webp",
    },
];
const support: Persona[] = [
    {
        name: "Mouhamad Aboshokor",
        from: "Cardiff",
        img: "https://media.licdn.com/dms/image/D4E03AQFttBYNDhMlRw/profile-displayphoto-shrink_200_200/0/1673284118840?e=1714608000&v=beta&t=NCM0m4Nx2vtAwcLyn3vhGjJkxBpeBNoYvbicHQKBmHE",
    },
    {
        name: "Niki Price",
        from: "Cardiff",
        img: "https://media.licdn.com/dms/image/D4E03AQFrnruNix877g/profile-displayphoto-shrink_200_200/0/1688233165880?e=1714608000&v=beta&t=FYjUN1C-oy1_avOcn_URnbnfW8DDweHCO3aF7uqWKZY",
    },
];
---

<Layout title="Past Meets Future">
    <div class="flex flex-col bg-primary justify-center items-center">
        <div class="w-7/12">
            <Header activated_tab="home" />

            <hr class="border border-white border-solid border-1 w-full" />
            <main
                id="intro"
                class="bg-secondary flex flex-col justify-center items-center w-full p-5"
            >
                <article class="flex flex-col justify-center w-full px-20">
                    <h1 class="text-3xl font-bold my-5 mb-10 text-white">
                        Introduction
                    </h1>
                    <section
                        class="prose prose-p:my-5 text-white text-lg min-w-full px-3"
                    >
                        <Intro />
                    </section>

                    <section
                        class="prose prose-p:my-5 text-white text-lg min-w-full px-3"
                    >
                        <JoinUs />
                    </section>
                    <section
                        class="prose prose-p:my-5 text-white text-lg min-w-full px-3"
                    >
                        <WeHope />
                    </section>
                </article>
                <article id="agenda" class="my-10 text-white w-full px-20">
                    <h1 class="text-3xl font-bold my-5 mb-10">
                        Agenda (Tentative)
                    </h1>
                    <table class="w-full text-center text-xl">
                        <thead>
                            <tr>
                                <th class="border border-white border-solid"
                                    >Time</th
                                >
                                <th class="border border-white border-solid"
                                    >Event</th
                                >
                                <th
                                    class="border border-white border-solid w-2/5"
                                    >Speaker</th
                                >
                                <th class="border border-white border-solid">
                                    Background and Expertise
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="border border-white border-solid"
                                    >10:00 - 10:10</td
                                >
                                <td class="border border-white border-solid"
                                    >Welcome</td
                                >
                                <td class="border border-white border-solid"
                                    >Dr. Yipeng Qin</td
                                >
                                <td class="border border-white border-solid"
                                    >AI/Machine Learning/Computer Vision</td
                                >
                            </tr>
                            <tr>
                                <td class="border border-white border-solid"
                                    >10:10 - 10:20</td
                                >
                                <td
                                    class="border border-white border-solid"
                                    rowspan="7"
                                    >Self-Introduction and Initial Thoughts</td
                                >
                                <td class="border border-white border-solid"
                                    >Dr. Barbara Caddick (University of Bristol)</td
                                >
                                <td class="border border-white border-solid"
                                    >Cultural Heritage/History</td
                                >
                            </tr>
                            <tr>
                                <td class="border border-white border-solid"
                                    >10:20 - 10:30</td
                                >
                                <td class="border border-white border-solid"
                                    >Dr. Daniel Finnegan (Cardiff University)</td
                                >
                                <td class="border border-white border-solid"
                                    >Cultural Heritage/HCI</td
                                >
                            </tr>
                            <tr>
                                <td class="border border-white border-solid"
                                    >10:30 - 10:40</td
                                >
                                <td class="border border-white border-solid"
                                    >Dr. Peidong Mei (University of Exeter)</td
                                >
                                <td class="border border-white border-solid"
                                    >HCI/Psychology</td
                                >
                            </tr>
                            <tr>
                                <td class="border border-white border-solid"
                                    >10:40 - 10:50</td
                                >
                                <td class="border border-white border-solid"
                                    >Dr. Deborah Brewis (University of Bath)</td
                                >
                                <td class="border border-white border-solid"
                                    >EDI/Ethics/Business</td
                                >
                            </tr>
                            <tr>
                                <td class="border border-white border-solid"
                                    >10:50 - 11:00</td
                                >
                                <td class="border border-white border-solid"
                                    >Prof. Xiaosong Yang (NCCA, Bournemouth
                                    University)</td
                                >
                                <td class="border border-white border-solid"
                                    >Computer Animation/AI/Arts</td
                                >
                            </tr>
                            <tr>
                                <td class="border border-white border-solid"
                                    >11:00 - 11:10</td
                                >
                                <td class="border border-white border-solid"
                                    >Dr. Shaojun Bian (Buckinghamshire New
                                    University and Humain Studio Ltd.)</td
                                >
                                <td class="border border-white border-solid"
                                    >Computer Animation/Arts/Industry</td
                                >
                            </tr>
                            <tr>
                                <td class="border border-white border-solid"
                                    >11:10 - 11:20</td
                                >
                                <td class="border border-white border-solid"
                                    >Robin Moore (SHWSH Ltd and Media Cymru)</td
                                >
                                <td class="border border-white border-solid"
                                    >Media/Industry</td
                                >
                            </tr>
                            <tr>
                                <td class="border border-white border-solid"
                                    >11:20 - 11:30</td
                                >
                                <td class="border border-white border-solid"
                                    >Comfort break</td
                                >
                                <td class="border border-white border-solid"
                                    >-</td
                                >
                                <td class="border border-white border-solid"
                                    >-</td
                                >
                            </tr>
                            <tr>
                                <td class="border border-white border-solid"
                                    >11:30 - 12:30</td
                                >
                                <td class="border border-white border-solid"
                                    >Structured brainstorming discussions (guide
                                    to be distributed)</td
                                >
                                <td class="border border-white border-solid"
                                    >Everyone</td
                                >
                                <td class="border border-white border-solid"
                                    >All Disciplines</td
                                >
                            </tr>
                        </tbody>
                    </table>
                    <div
                        id="organisers"
                        class="text-white flex gap-3 justify-around w-full mt-5"
                    >
                        <PersonasGroup
                            title="Organisers"
                            personas={organisers}
                        />
                        <PersonasGroup
                            title="Demonstrators"
                            personas={demonstrators}
                        />
                        <PersonasGroup
                            title="University Support"
                            personas={support}
                        />
                    </div>
                    <article id="join" class="text-white w-full">
                        <h1 class="text-3xl font-bold my-5 mb-10">Join</h1>
                        <div class="flex gap-3 justify-center">
                            <div class="card bg-primary shadow-lg w-1/2">
                                <a
                                    target="_blank"
                                    href="https://forms.office.com/Pages/ResponsePage.aspx?id=MEu3vWiVVki9vwZ1l3j8vP-Uj8nS6OdHvy7ftDnon0xURTNOUklLMjY2N1lBREFIUzhMUzBVOVZKUC4u"
                                >
                                    <Image
                                        class={"rounded-lg"}
                                        src={formPreview}
                                        alt="Form Preview"
                                    />

                                    <div class="card-body">
                                        <h1 class="card-title">
                                            To join our event, please fill in
                                            the form below.
                                        </h1>
                                        <a
                                            class="underline hover:text-yellow-500 cursor-pointer"
                                            target="_blank"
                                            href="https://forms.office.com/Pages/ResponsePage.aspx?id=MEu3vWiVVki9vwZ1l3j8vP-Uj8nS6OdHvy7ftDnon0xURTNOUklLMjY2N1lBREFIUzhMUzBVOVZKUC4u"
                                        >
                                            Register
                                        </a>
                                    </div>
                                </a>
                            </div>
                            <div class="card bg-primary shadow-lg w-1/2">
                                <a
                                    target="_blank"
                                    href="https://www.canva.com/design/DAF83v7vzvE/C-RvbCZOaMvnlLmnGTIl9g/view"
                                >
                                    <Image
                                        class={"rounded-lg"}
                                        src={canvasPreview}
                                        alt="Canvas Preview"
                                    />
                                    <div class="card-body">
                                        <h1 class="card-title">Flyer</h1>
                                        <a
                                            class="underline hover:text-yellow-500 cursor-pointer"
                                            target="_blank"
                                            href="https://www.canva.com/design/DAF83v7vzvE/C-RvbCZOaMvnlLmnGTIl9g/view"
                                        >
                                            See our Flyer on Canvas
                                        </a>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </article>
                </article>
                <footer
                    class="border-t border-white pt-10 bg-secondary text-white text-center py-5 w-full"
                >
                    <p>&copy; Event organisers 2024</p>
                </footer>
            </main>
        </div>
    </div>
</Layout>
