---
import NavTab from "./NavTab.astro";
import { Content } from "../content/header.md";
import cvaBgGradient from "../images/cva_1.svg";
import AiukLogo from "../images/aiuk-logo-white-2048x1217-1.png";
import { Image } from "astro:assets";

interface Props {
    activated_tab: string;
}
const props: Props = Astro.props;
const tabs: {
    name: string;
    key: string;
}[] = [
    {
        name: "Introduction",
        key: "#intro",
    },
    {
        name: "Agenda",
        key: "#agenda",
    },
    {
        name: "Organisers",
        key: "#organisers",
    },
    {
        name: "Register",
        key: "#register",
    },
    {
        name: "Flyer",
        key: "#flyer",
    }
];
---

<header>
    <div class="p-3 flex justify-between items-center bg-gradient-to-br from-[#7D00FF] to-[#FF7D00]">
        <Image src={AiukLogo} alt={"AIUK Logo"} class="h-20 w-36" />
        <span class="text-white font-bold text-3xl me-10"> Fringe 2024</span>
    </div>
    <div class="bg-black flex justify-between">
        <div
            class="min-h-full justify-center ps-20
            flex flex-col
            prose
            prose-h1:text-7xl prose-h1:text-wrap prose-h1:text-white prose-h1:font-bold prose-h1:mb-10
            prose-h2:text-4xl prose-h2:text-wrap prose-h2:text-white prose-h2:font-bold prose-h2:mt-0"
        >
            <Content />
        </div>
        <Image class="right-0 w-1/2" src={cvaBgGradient} alt={""} />
    </div>
    <nav class="h-32 bg-gradient-to-b from-black to-primary">
        <ul class="flex justify-center items-center h-full">
            {
                tabs.map((tabProps) => (
                    <NavTab
                        name={tabProps.name}
                        key={tabProps.key}
                        href={`/${tabProps.key}`}
                        activated={props.activated_tab === tabProps.key}
                    />
                ))
            }
        </ul>
    </nav>
</header>
